@font-face {
  font-family: 'BalloonFont';
  src: url('../fonts/BalloonFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoldBalloon';
  src: url('../fonts/GoldBalloonFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
}