.header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.header-logo {
    width: 220px;
    height: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 6px rgba(218, 203, 222, 0.6));
}

.header-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.header-nav > a{
    background-color: #060606;

    font-family: var(--font-main);
    font-size: 28px;
    color: var(--color-text-main);

    padding: 2px 10px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.header-nav > a:hover {
    transform: scale(1.05);
}

.header-nav a:nth-child(even){
    display: inline-block;
    transform: rotate(3deg) !important;
}

.header-nav a:nth-child(odd){
    display: inline-block;
    transform: rotate(-5deg) !important;
}

@media(max-width: 450px){
    .header-nav{
        flex-wrap: wrap;
    } 
}