body{
    background-image: url('../assets/AerialStageShot.webp');
    background-size: cover;
    background-position: center;
    background-color: #593c56;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    padding-bottom: 50px;
}

/* Gray Overlay For Background */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.tour-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    flex: 1;
    gap: 30px;
}

/*bands in town widget (this code was provided by the bands booking agency). It behaves really weird*/ 

.bit-container { /* Outer widget wrapper with frosted glass effect */
    position: relative;
    max-width: 1200px;
    width: 95%;
    padding: 3rem 2rem;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    z-index: 1;

    margin-bottom: 50px; /*it's not really obeying rules IDK why, so this is here to normalize the bottom padding*/
  }

.widget-container {
  width: 100%;
}

.widget-background {
    width: 100%;
}

.bit-widget-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bit-widget {
  font-size: 19px !important;
}

.bit-widget .bit-event:hover {
  background: none !important;
  box-shadow: none !important;
}

.bit-container::before { /* Frosted background layer inside the container */
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(125, 125, 125, 0.15); /* translucent overlay */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px);
  z-index: -1;
}

@media (max-width: 450px){
    body{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
}